<header class="header">
  <div class="header-content">
    <div class="header-left">
      <button class="mobile-menu-btn" (click)="toggleMobileMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="logo">
        <!-- <img src="assets/nyr_logo.png" alt="NYR Logo" class="nyr-logo"> -->
      </div>
    </div>
    
    <div class="header-actions">
      <button class="notification-btn">
        <mat-icon>notifications</mat-icon>
      </button>
      <div class="user-profile">
        <img src="https://images.pexels.com/photos/1239291/pexels-photo-1239291.jpeg?auto=compress&cs=tinysrgb&w=100" 
             alt="User" class="user-avatar">
      </div>
    </div>
  </div>
</header>