<div class="page-layout">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <app-header></app-header>
    <div class="content">
      <!-- Breadcrumb -->
      <div class="breadcrumb">
        <span class="breadcrumb-item active">Transfers</span>
        <mat-icon class="breadcrumb-separator active">chevron_right</mat-icon>
        <span class="breadcrumb-item active">Greenway Medical</span>
      </div>
      
      <!-- Page Header -->
      <div class="page-header">
        <h1>Transfers</h1>
        
      </div>
      
      <!-- Search Bar -->
      <div class="search-section">
        <div class="search-container">
          <mat-icon class="search-icon">search</mat-icon>
          <input type="text" placeholder="Search..." class="search-input" (keyup)="applyFilter($event)">
        </div>

        <div class="button-group">
          <button class="btn btn-primary mr-15">Transfer to Van</button>
          <button class="btn btn-primary mr-15">Transfer to Location</button>
          <button class="btn btn-primary">Add Follow Up</button>
        </div>
      </div>
      
      <!-- User Table -->
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="customer-table">
          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>PRODUCT NAME</th>
            <td mat-cell *matCellDef="let transferDetail">{{transferDetail.productName}}</td>
          </ng-container>

          <ng-container matColumnDef="skuCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SKU/CODE</th>
            <td mat-cell *matCellDef="let transferDetail">{{transferDetail.skuCode}}</td>
          </ng-container>

          <ng-container matColumnDef="variantName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>VARIANT NAME</th>
            <td mat-cell *matCellDef="let transferDetail">{{transferDetail.variantName}}</td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>QUANTITY</th>
            <td mat-cell *matCellDef="let transferDetail">{{transferDetail.quantity}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- Paginator -->
        <mat-paginator 
          [pageSizeOptions]="[5, 10, 20]" 
          showFirstLastButtons
          class="table-paginator">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>