/* Loader Container */
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  text-align: center;
  min-height: 300px;
}

.loader-container p {
  margin-top: 1rem;
  color: #666;
  font-size: 1rem;
}
