/* Loader Container */
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  text-align: center;
  min-height: 300px;
}

.loader-container p {
  margin-top: 1rem;
  color: #666;
  font-size: 1rem;
}

/* Table header alignment */
.customer-table th {
  text-align: left;
}

/* Sortable table headers */
.sortable {
  cursor: pointer;
  user-select: none;
  position: relative;
}

.sortable:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.sortable mat-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 4px;
}
