<div class="sidebar">
  <div class="sidebar-content">
    <div class="brand">
      <img src="assets/nyr_logo.png" alt="NYR Logo" class="brand-logo">
    </div>
    <!-- Main Menu -->
    <nav class="nav-section">
      <ul class="nav-list">
        <ng-container *ngFor="let item of menuItems">
          <li *ngIf="item.label != 'Inventory'" class="nav-item" [class.active]="item.active"
            (click)="navigate(item.route)">
            <mat-icon class="nav-icon">{{item.icon}}</mat-icon>
            <span class="nav-label">{{item.label}}</span>
          </li>

          <!-- Inventory Section -->
          <div *ngIf="item.label == 'Inventory'" class="inventory-section">
            <div class="inventory-header" (click)="toggleInventory()">
              <mat-icon class="inventory-icon">inventory_2</mat-icon>
              <span class="inventory-label">Inventory</span>
              <mat-icon class="expand-icon">
                {{ isInventoryOpen ? 'expand_less' : 'expand_more' }}
              </mat-icon>
            </div>

            <ul class="inventory-list" *ngIf="isInventoryOpen">
              <li *ngFor="let item of inventoryItems" class="inventory-item" [class.active]="item.active"
                (click)="navigate(item.route)">
                <!-- <mat-icon class="inventory-item-icon">{{item.icon}}</mat-icon> -->
                <span class="inventory-item-label">{{item.label}}</span>
              </li>
            </ul>
          </div>
        </ng-container>

      </ul>
    </nav>



    <!-- Settings Section -->
    <div class="settings-section">
      <div class="settings-header" (click)="toggleSettings()">
        <mat-icon class="settings-icon">build</mat-icon>
        <span class="settings-label">Settings</span>
        <mat-icon class="expand-icon">
          {{ isSettingsOpen ? 'expand_less' : 'expand_more' }}
        </mat-icon>
      </div>

      <ul class="settings-list" *ngIf="isSettingsOpen">
        <li *ngFor="let item of settingsItems" class="settings-item" [class.active]="item.active"
          (click)="navigate(item.route)">
          <span class="settings-item-label">{{item.label}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>