.customer-table th {
  text-align: left;
}

.sortable {
  cursor: pointer;
  user-select: none;
  position: relative;
}

.sortable:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.sortable mat-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 4px;
}
